<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.ngai.fantastic">

    <!-- BmobSDK权限 -->
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 推送权限 -->
    <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许接收屏幕解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <!-- 允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 其他权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".Appfantastic"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="554a13dd67e58e1de10038c6"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Bmob"/>

        <activity
            android:name=".business.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".business.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.picturebrowse.PictureBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PictureBrowse.Theme"/>
        <activity
            android:name=".business.samples.DiscoverActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".business.login.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="Bmob"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name=".receiver.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".business.feedback.FeedBacksActivity"
            android:label="@string/title_activity_feed_backs"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".business.funabout.FunctionsAboutActivity"
            android:label="@string/title_activity_functions_about"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".business.appabout.AppAboutsActivity"
            android:label="@string/title_activity_app_abouts"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".business.recharge.RechargesActivity"
            android:label="@string/title_activity_recharges"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="dev.test.WidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>